.about {
    position: relative;
    background-color: #000123;
    padding-top: 50px;
    padding-bottom: 80px;

}

.custom-shape-divider-top-1664045705 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1664045705 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 49px;
}

.custom-shape-divider-top-1664045705 .shape-fill {
    fill: #FF0F7B;
}

.about-title{
    text-align: center;
}

.about-title h1{
    font-family: 'Anton', sans-serif;
    color: white ;
    padding-top: 60px;
    padding-bottom: 20px;
    text-shadow: #FF0F7B 2px 2px;
}



.about-body img{
    height: 430px;
    width: 350px;
    padding-top: 60px;
    opacity: 60%;
    margin-left: 30px;
}

.about-body h1{
    padding-top: 50px;
    color: white;
    font-family: 'Reem Kufi Ink', sans-serif;
    padding-left: 40px;
    letter-spacing: 5px;
    margin-bottom: 40px;

}